@media screen and (min-width: 720px) {
    /* RESETS */
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }

    /* || UTILITY CLASSES || */
    .navigation-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;
        gap: 10px;
        height: 40px;
    }

    /* VARIABLES */
    :root{
        /* colors */
        --TOOLBAR-BACKGROUND-COLOR: #3E3C3C;
    }
    

    /* GENERAL TAGS */
    body{
        /* padding-left: 10%; */
    }

    /* USER DEFINED CLASSES */
    /* Toolbar section */
    #toolbar{
        background: var(--TOOLBAR-BACKGROUND-COLOR);
        height: 72px;
        width: 100%;
        position: fixed;
    }
    #toolbar-logo-placeholder{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 40px;

        position: absolute;
        top: calc(50% - 40px/2);
        left: 10%;
    }
    #item-navigation{
        width: 255px;
        height: 40px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: absolute;
        right: 13%;
        top: calc(50% - 40px/2);
    }
    .navigation-contact{
        width: 87px;
    }
    .navigation-about{
        width: 69px;
    }
    .navigation-contact{
        width: 83px;
    }
    .item-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    #mail{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10%;
        top: calc(50% - 40px/2);
    }
    
}