@media screen and (max-width: 360px) {

    /* all */
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    /* body */
    body{
        background: #1C1A19;
    }   

    /* toolbar section */
    #toolbar{
        position: absolute;
        width: 100%;
        height: 48px;        
    }

    #toolbar-container{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: #181E25;
    }

    #toolbar-logo-placeholder{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 101px;
        height: 44px;
        left: 12px;
    }
    #toolbar-logo-name{
        width: 77px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    #toolbar-menu-button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 24px;
        top: 2px;
        border-radius: 8px;
    }
    #toolbar-menu-icon{
        width: 24px;
        height: 24px;
        position: relative;
        justify-content: center;
        align-items: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        top: 20px;
        left: 8px;
        border: none;
    }
    #toolbar-menu-union-icon, #toolbar-menu-union-icon::before , #toolbar-menu-union-icon::after {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    #toolbar-menu-union-icon::before , #toolbar-menu-union-icon::after{
        content: '';   
    }
    #toolbar-menu-union-icon::before{
        transform: translate(0px,10px);
    }
    #toolbar-menu-union-icon::after{
        transform: translate(0px,-10px);
    }

    /* headline section */
    #headline{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        width: 100%;
        height: 590px;
        padding: 120px 24px;
        padding-right: 0%;

        position: absolute;
        top: 65px;
        left: 0px;
    }
    .background-image{
        position: absolute;
        left: 195px;
        top: 260px;
        height: 50%;
    }
    .my-name{
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;

        color: #FF6B00;
        order: 0;
    }
    .supporting-text{
        font-family: 'Roboto', 'san-serif';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        display: flex;
        align-items: center;
        color: #FFF5E1;
        order: 1;
    }
    .description{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        order: 2;
        color: #FFFFFF;
    
    }
    .social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 200px;
        order: 3;
        flex: none;
        flex-grow: 0px;
    }
    .frame{
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;

        flex: none;
        flex-grow: 0;
    }


    /* Works */
    #recent-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0px;
        background-color: #fff;
        gap: 80px;
        position: absolute;
        width: 100%;
        height: 3455px;
        left: 0px;
        top: 682px;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        width: 100%;
        height: 107px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #title-text{
        width: 100%;
        height: 83px;

        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #1C1A19;
    }
    #title-vector{
        width: 80%;
        border: 1px solid #212121;
        flex: none;
        flex-grow: 0px;
    }
    /* works frame44 */
    #works-frame44{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: 3028px;
        width: 100%;
        flex: none;
        flex-grow: 0;
    }
    #works-featured-image{
        width: 100%;
        height: 568px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px;
        gap: 24px;
        flex: none;
        flex-grow: 0;        
    }
    .works-image-placeholder{
        width: 100%;
        height: 237px;
        flex: none;
        order: 0;
        flex-grow: 0;        
    }

    .works-image-placeholder img{
        width: 100%;
    }
    #works-title-text{
        width: 100%;
        height: 83px;

        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    #works-right-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        width: 100%;
        height: 307px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    #works-title-post{
        width: 100%;
        height: 36px;
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;

        display: flex;
        align-items: center;
        flex: none;
        flex-grow: 0;
        order: 0;
        color: #091E42;
    }
    #works-supporting-text{
        width: 100%;
        height: 147px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #091E42;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    #works-tags{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 12px;

        width: 297px;
        height: 40px;

        flex: none;
        order: 2;
        flex-grow: 0;
    }
    .tag{
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;
        height: 100%;
        
        background-color: #fff;
        border: 1px solid #8993A4;
        flex: none;
        flex-grow: 0;
    }
    #works-enable-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 10px;

        width: 124px;
        height: 48px;
        background: #FF6B00;

        flex: none;
        order: 3;
        flex-grow: o;
        border: none;
    }
    .see-project-text{
        width: 100px;
        height: 24px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    /* works frame43 */
    #works-frame43{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 24px;
        gap: 24px;
        

        width: 100%;
        height:2436px;
        
        flex: none;
        flex-grow: 0;
    }
    /* common card classes styling */
    .card-work{
        width: 327px;
        height: 386px;

        flex: none;
        flex-grow: 0;
    }
    .frame43-card-works-action{
        width: 100%;
        height: 48px;
        position: relative;
        top: 90px;
    }
    .frame43-card-works-action-action{
        position: absolute;
        width: 327px;
        height: 48px;
        background: #FF6B00;
    }
    .see-project{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        gap: 10px;
    
        position: absolute;
        width: 124px;
        height: 48px;
        left: calc(50% - 124px/2);
        top: calc(50% - 48px/2);        
        background: #FF6B00;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        border: none;

        color: #fff;
    }
    
    /* Works-right-group */
    .frame43-card-works-right-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 12px;

        width: 100%;
        height: 248px;

        position: relative;
        left: calc(50% - 327px/2);
        top: 76px;
    }
    .frame43-card-works-right-block-title-post{
        width: 295px;
        height: 81px;
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .frame43-card-works-right-block-supporting-text{
        width: 295px;
        height: 87px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #FFFFFF;

        flex: none;
        flex-grow: 0;       
    }
    .frame43-card-works-right-block-tags{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        width: 236px;
        height: 40px;

        flex: none;
        order: 2;
        flex-grow: 0;
    }
    .frame43-card-works-right-block-html-tag{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;

        height: 40px;
        width: 56px;
        background: rgba(255, 255, 255, 0.24);
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .frame43-card-works-right-block-bootstrap-tag{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;

        height: 40px;
        width: 95px;
        background: rgba(255, 255, 255, 0.24);
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .frame43-card-works-right-block-ruby-tag{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;
        
        height: 40px;
        width: 61px;
        background: rgba(255, 255, 255, 0.24);
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .works-tag-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
    }
    
    .frame43-card-works-mask-group{
        width: 327px;
        height: 386px;
        position: absolute;
    }
    .card-works-img1{
        position: absolute;
        background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.56) 84.18%),
         url('img/works/cardworks1.svg');
        height: 386px;
        width: 327px;
    }
    .mask{
        position: absolute;
        background: #262626;
        height: 100%;
        width: 100%;
    }

    /* About Me Section */
    #about{
        width: 100%;
        height: 563px;

        position: absolute;
        top: 4137px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 120px 24px;
        gap: 24px;
    }
    #about-me{
        width: 327px;
        height: 79px;

        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 88px;

        color: #FF6B00;
        order: 0;
    }
    #about-description{
        width: 327px;
        height: 148px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #F4F5F7;        
        order: 1;        
    }
    #get-my-resume{
        width: 161px;
        height: 48px;
        background: #FF6B00;
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 10px;
        border: none;
    }
    #get-my-resume-text{
        width: 137px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;
    }
    #about-background{
        position: absolute;
        left: 200px;
        top: 300px;
    }

    #horizontal-rule{
        position: absolute;
        width: 327px;
        top: 4695px;
        left: 20px;
        border: 1px solid #FFFFFF;        
    }

    /* skill  Section*/
    #skills{
        width: 329px;
        height: 1241.46px;
        margin: 0 5%;
        position: absolute;
        top: 4700px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 24px;
        gap: 24px;
    }
    #language{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        width: 225px;
        height: 281px;

        flex: none;
        flex-grow: 0;
    }
    #language-title{
        width: 225px;
        height: 41px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        gap: 12px;
        justify-content: center;
        flex: none;
        flex-grow: 0;
    }
    #language-icon{
        width: 18px;
        height: 18px;
        background: #FF6B00;
        transform: rotate(-45deg);
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #language-text{
        display: flex;
        align-items: center;
        width: 164px;
        height: 24px;
        font-family: 'InaiMathi';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
    }
    #language-items{
        width: 186px;
        height: 216px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 12px;
        gap: 8px;        
    }
    #language-items-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 0px;
        width: 114px;
        height: 48px;                
    }
    #language-items-text{
        width: 114px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;   
    }
    #framework{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        width: 281px;
        height: 336px;

        flex: none;
        flex-grow: 0;
    }
    #framework-title{
        width: 281px;
        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        gap: 12px;
        justify-content: center;
        flex: none;
        flex-grow: 0;
    }
    #framework-icon{
        width: 18px;
        height: 18px;
        background: #FF6B00;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #framework-text{
        display: flex;
        align-items: center;
        width: 164px;
        height: 24px;
        font-family: 'InaiMathi';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
    }
    #framework-items{
        width: 186px;
        height: 272px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 12px;
        gap: 8px;        
    }
    
    #framework-items-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 0px;
        width: 162px;
        height: 48px;                
    }
    #framework-items-text{
        width: 162px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;   
    }
    #skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        width: 169px;
        height: 336px;

        flex: none;
        flex-grow: 0;
    }
    #skill-title{
        width: 169px;
        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        gap: 12px;
        justify-content: center;
        flex: none;
        flex-grow: 0;
    }
    #skill-icon{
        width: 18px;
        height: 18px;
        background: #FF6B00;
        border-radius: 18px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #skill-text{
        display: flex;
        align-items: center;
        width: 164px;
        height: 24px;
        font-family: 'InaiMathi';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
    }
    #skill-items{
        width: 186px;
        height: 272px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 12px;
        gap: 8px;        
    }
    
    #skill-items-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 0px;
        width: 162px;
        height: 48px;                
    }
    #skill-items-text{
        width: 162px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;   
    }

    #form-section{
        width: 100%;
        height: 844px;

        position: absolute;
        top: 6038px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 120px 24px;
        gap: 58px;
    }
    #form-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;

        width: 327px;
        height: 216px;
    }
    #form-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;  
    }
    

}