@media screen and (max-width: 360px) {

    /* all */
    *{
        margin: 0px;
        padding: 0px;
    }

    /* body */
    body{
        background: #1C1A19;
    }   

    /* toolbar section */
    #toolbar{
        position: absolute;
        width: 100%;
        height: 48px;        
    }

    #toolbar-container{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: #181E25;
    }

    #toolbar-logo-placeholder{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 101px;
        height: 44px;
        left: 12px;
    }
    #toolbar-logo-name{
        width: 77px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    #toolbar-menu-button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 24px;
        top: 2px;
        border-radius: 8px;
    }
    #toolbar-menu-icon{
        width: 24px;
        height: 24px;
        position: relative;
        justify-content: center;
        align-items: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        top: 20px;
        left: 8px;
        border: none;
    }
    #toolbar-menu-union-icon, #toolbar-menu-union-icon::before , #toolbar-menu-union-icon::after {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    #toolbar-menu-union-icon::before , #toolbar-menu-union-icon::after{
        content: '';   
    }
    #toolbar-menu-union-icon::before{
        transform: translate(0px,10px);
    }
    #toolbar-menu-union-icon::after{
        transform: translate(0px,-10px);
    }

    /* headline section */
    #headline{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        width: 100%;
        height: 590px;
        padding: 120px 24px;
        padding-right: 0%;

        position: absolute;
        top: 65px;
        left: 0px;
    }
    .background-image{
        position: absolute;
        left: 195px;
        top: 260px;
        height: 50%;
    }
    .my-name{
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;

        color: #FF6B00;
        order: 0;
    }
    .supporting-text{
        font-family: 'Roboto', 'san-serif';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        display: flex;
        align-items: center;
        color: #FFF5E1;
        order: 1;
    }
    .description{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        order: 2;
        color: #FFFFFF;
    
    }
    .social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 200px;
        order: 3;
        flex: none;
        flex-grow: 0px;
    }
    .frame{
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;

        flex: none;
        flex-grow: 0;
    }


    /* Works */
    #recent-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0px;
        background-color: #fff;
        gap: 80px;
        position: absolute;
        width: 100%;
        height: 3455px;
        left: 0px;
        top: 682px;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        width: 100%;
        height: 107px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #title-text{
        width: 100%;
        height: 83px;

        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #1C1A19;
    }
    #title-vector{
        width: 80%;
        border: 1px solid #212121;
        flex: none;
        flex-grow: 0px;
    }
    /* works frame44 */
    #works-frame44{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: 3028px;
        flex: none;
        flex-grow: 0;
    }
    #works-featured-image{
        width: 100%;
        height: 568px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px;
        gap: 24px;
        flex: none;
        flex-grow: 0;        
    }
    .works-image-placeholder{
        width: 100%;
        height: 237px;
        margin-left: 46px;
        flex: none;
        order: 0;
        flex-grow: 0;        
    }
    #works-right-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        width: 100%;
        height: 307px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    #works-title-post{
        width: 100%;
        height: 36px;
        
    }
}